@charset "utf-8";
/* CSS Document */



#listCustomer table{
	border:1px solid black;
	border-collapse:collapse;
	font-size:15px;
	font-weight:lighter;
}

#listCustomer th,td{
	border:1px solid black;
	padding:5px;
}
