@charset "utf-8";
/* CSS Document */

body{
	font-family:Arial, Helvetica, sans-serif;
}

table{
	
	
}

a{
	text-decoration:none;
	color:#000;
}

a:hover{
	color:#FFF;
	background:#000;
	padding:0px 3px;
	margin:0px;
}


div, ul{
	display:block;
}

ul{
	list-style-type:none;
	font-weight:bold;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: auto;
	margin-left: 0px;
}

li{
	background:#FFF;
	display:list-item;
	float:left;
	margin-left:15px;
	padding-top: -20px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
}

li:first-child{
	margin-left:-20px;
}


/*HEADER DIV---------------------------------*/
#top{
	margin: auto;
	width: 100%;
	height:100%;
}

/*BODY CONTAINER DIV---------------------------------*/
#container{
	width:900px;
	margin: 0px auto;
	border: 1px solid #999;
	border-width:0px 3px;
	padding:0px 5px;
}

/*FOOTER DIV---------------------------------*/
#bottom{
	margin: 0px 0px;
	text-align:center;
	padding:0xp 0px;
}

/*MENUBAR DIV---------------------------------*/
#menubar{
	height:50px;
	overflow:hidden;
	background-image:url(../images/MenuBarTOP.jpg);
	background-position: 0px -14px;
}

/*CONTENT DIV---------------------------------*/
#content-wrap{
	border:3px solid #CCC;
	border-radius:5px;
	padding: 10px 5px;
	margin: 0px 0px;
	overflow:hidden;

}

/*FORM DIV------------------------------------*/

#input-nya{
	width:100%;
	font-size:14px;
	font-weight:bold;
	padding: 0px 200px;
}

#input-nya form{
	width:700px;
}

#input-nya tr{
	height:31px;
}

/*PROFILE DIV---------------------------------*/
#paramBulan1{
	float:left;
	width:100%;
	padding-left:100px;
	font-size:16px;
	font-weight:bold;
}

#paramBulan2{
	float:left;
	width:100%;
	padding-left:100px;
	font-size:16px;
	font-weight:bold;
	margin-top:15px;
}

#profil1, #profil2{
	float:left;
	display:block;
	width:100%;
	line-height: 40px;
}


#profil1 th, #profil2 th{
	margin:0px; 
	padding:0px;
	height:20px;
	font-size:12px;
	line-height:normal;
}

#profil1 tr, #profil2 tr{
	margin:0px; 
	padding:0px;
}

#profil1 td, #profil2 td{
	margin:0px; 
	padding:0px; 
	vertical-align:top; 
}

#mini-Date{
	border:1px solid; 
	width:40px; 
	height:20px; 
	position:relative; 
	float:right; 
	vertical-align:top;
}

#mini-Date span{
	margin-left:18px; 
	margin-bottom:-5px; 
	top:-10px; 
	position:relative;
}

#profil1 td p, #profil2 td p{
	position:absolute;
	margin: 20px 0px 0px 19px;
	font-size:large;
	font-weight:bold;
}
/*ErrorContainer DIV---------------------------------*/
#errorContainer{
	display:block;
	color:#F00;
	font-size:12px;
	text-align:center;
	width: 37%;
    margin: auto;
}

#errorContainer ul li{
	list-style-type:circle;
	margin-left:0px;
}


/*SUBMIT DIV---------------------------------*/
#divSubmit {
	display:block;
	width:100%;
	padding-top:20px;
	float:left;
}

#divSubmit input{
	height:50px;
	width:100px;
}

/*INFORM WRAP-------------------------------*/

#inform-wrap{
	padding-left:100px;
	text-align:left;
	margin-bottom:20px;
	font-size:15px;
	font-weight:bold;
}

#inform-wrap tr{
	height:25px;
}

#inform-wrap td:first-child{
	width:240px;
}

/* informBawah-wrap ----------------------------*/
#informBawah-wrap{
	float:left;
	position:relative;
	display:block;
	padding-left:100px;
	margin-top:15px;
	font-size:15px;
	font-weight:bold;
}

#informBawah-wrap td:first-child{
	width:300px;
}

/* lebihDate */
#lebihDate {
	float:left;
	position:relative;
	display:block;
	padding-left:20px;
	margin-top:15px;
	margin-left:90px;
	font-size:15px;
	font-weight:bold;
	width: 673px;
	border: solid;
}

#lebihDate td:first-child {
	width: 200px;
}


